<h3>details-vehicules</h3>

<table>
    <thead>
      <tr>
        <th>marque</th>
        <th>modele</th>
        <th>nombre_chevaux</th>
        <th>couleur </th>
        <th>moteur </th>
        <th>nombre_portieres </th>
        <th>nombre_places </th>
        <th>automatique </th>
      </tr>
    </thead>
    <tbody>

            <tr class="synced">
                <td>{{marque}}</td>
                <td>{{vehicules?.modele}}</td>
                <td>{{vehicules?.nombre_chevaux}}</td>
                <td>{{vehicules?.couleur}}</td>
                <td>{{vehicules?.moteur}}</td>
                <td>{{vehicules?.nombre_portieres}}</td>
                <td>{{vehicules?.nombre_places}}</td>
                <td>{{vehicules?.automatique}}</td> 
            </tr>  
    </tbody>
  </table>
